
      @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

      :root{
        --primary-color:#333;
      }


      *{
          box-sizing:border-box;
      } 

      body{

        font-family:  'Lato',sans-serif;
        background-color:#ddd ;
        font-size: 12px;
        
      
           padding: 0;
           margin: 0;
    
    }
/*    start site setting*/

  .sitesettings{
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    position: fixed;
    right: 10px;
    bottom:50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100;
  }

  .sitesettings .sitesettings-item{
    background-color: #f9f9f9;
    padding: 5px;
    margin: 10px 0;
    opacity: 0.5;
  }
  .sitesettings .sitesettings-item:hover{
    opacity: 1;
  }
  .anirotate{
    animation:myanirotate 2s infinite linear ;
  }
  @keyframes myanirotate{
    from{
      transform:rotate(0deg);
    }
    to{
      transform: rotate(1turn);
    }
  }
/*    end site setting*/

    /*start left sidebar section*/

      .lines1,.lines2,.lines3{
        width:25px;
        height: 3px;

        margin: 6px;
      }

      .sidebars{
        min-height: 100vh;
        background-color: var(--primary-color);
      /*  opacity: ;*/
      }

      .sidebarlinks{
        opacity: 0.7;
        transition: all .4s;

        position:relative ;
      }

      .sidebarlinks:hover{
        opacity: 1;
        background-color: #555;
      }

      .currents{
        box-shadow: -2px 0 10px #111;
        opacity:1;

        transition: transform 0.3s; 
      }

      .currents:hover{
        transform: translateY(-1px);
      }

      .mores{
        position: absolute;
        right: 20px;
        top:50%;

        transform: translateY(-50%);

      }

      /*start topsidebars*/
      .topnavbars{
        background-color: var(--primary-color);
      }
      .iconparents{
        position: relative;
      }


      .iconbullets i{
        color: #888;
      }

      .iconbullets::after{
        content:'';
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;

        position: absolute;
        left: 20px;
        top:3px;
      }

      .breadcrumb a{
        color:#f4f4f4;
        text-decoration: none;
      }

      @media(max-width:768px){

        .topnavbars,.sidebars{
          position: static;
        }

      }
      /*start topsidebars*/

      /*26BB*/





      /*end left sidebar section*/

      /*start panel section*/
      .cardboxs{
          transition: all .3s;
      }
      .cardboxs:hover{
          box-shadow: 1px 3px 3px #bbb;
          transform: translateY(-1px);
      }
    /*end panel section*/

